
body {
    background-color: #f5e5e5;
  }
  
  .navbar {
    background-color: #d1c4e9;
  }
  
  .navbar-brand {
    color: rgba(14, 13, 13, 0.856);
  }
  
  .navbar-nav .nav-link {
    color: #0a0101;
    transition: background-color 0.3s ease;
  }
  

  .img_inicio{
    width: 600px;
    height: 250px;
  }

  .nav-link:hover{
    color:red
  }

  .navbar-nav .nav-link:active {
    background-color: #b39ddb; 
    color: rgb(3, 0, 0);
  }
  
  .image-border {
    border: 5px solid #d1c4e9;
    border-radius: 15px;
    max-width: 100%;
    height: auto;
  }
  
  footer {
    background-color: #d1c4e9;
    padding: 10px;
    text-align: center;
    color: rgb(0, 0, 0);
  }
  
  /* Botones */
  .btn-primary {
    background-color: #7e57c2; 
    border-color: #7e57c2;
    transition: background-color 0.3s ease;
  }
  
  .btn-primary:active {
    background-color: red;
    border-color: red;
  }
  
  button[type="submit"]:active {
    background-color: red; 
    border-color: red;
  }